.home{
color:white;
text-decoration:none;
font-size:24px;
cursor:pointer;
}

.contenedor-tabla{

display:flex;
flex-direction:column;
align-items:center;
gap:30px;

}

.tabla-kardex{

border-collapse:collapse;

color:white;

font-size:16px;

margin-top: 50px;

}

.tabla-kardex th,
.tabla-kardex td{

border:2px solid #d0d6da;

width:130px;
height:80px;

text-align:center;

}

.tabla-kardex th{

background:#255a68;

font-weight:bold;

}

.grupo{

background:#255a68;

font-weight:bold;

}

.materia{

background:#255a68;

}

.btn-descargar{

background:#c7c7c7;

border:none;

padding:10px 20px;

border-radius:20px;

cursor:pointer;

font-weight:bold;

}

.btn-descargar:hover{

background:#b0b0b0;

}

.tabla-scroll{
width:100%;
overflow-x:auto;
}

@media (max-width:768px){

.menu-btn{
display:block;
}

.sidebar{
position:fixed;
left:-220px;
top:70px;
height:100%;
width:220px;
background:#2b6671;
transition:0.3s;
z-index:1000;
}

.sidebar.active{
left:0;
}

.container{
flex-direction:column;
}

.contenido{
padding:20px;
align-items:center;
}

.tabla-kardex th,
.tabla-kardex td{

width:100px;
height:70px;
font-size:14px;

}

.btn-descargar{
margin-top:20px;
}

}

.top-actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.notificacion-container {
    position: relative;
    font-size: 22px;
    cursor: pointer;
}

.notif-dot {
    position: absolute;
    top: 0px;
    right: -2px;
    width: 8px;
    height: 8px;
    background: red;
    border-radius: 50%;
    display: none;
}