body{
margin:0;
font-family:Arial;
background:#0f3145;
}

/* barra superior */

.topbar{
height:70px;
background:#2b6671;
display:flex;
align-items:center;
justify-content:space-between;
padding:0 20px;
color:white;
}

/* boton hamburguesa */

.menu-btn{
display:none;
font-size:30px;
cursor:pointer;
margin-right:15px;
}

/* logo */

.logo{
height:45px;
}

.isic{
font-size:40px;
margin-left:10px;
}

/* layout */

.container{
display:flex;
height:calc(100vh - 70px);
}

/* barra izquierda */

.sidebar{
width:220px;
background:#2b6671;
color:white;
transition:0.3s;
}

.sidebar ul{
list-style:none;
padding:0;
margin:0;
}

.sidebar li{
padding:15px;
border-bottom:1px solid white;
cursor:pointer;
}

.sidebar li:hover{
background:#214f58;
}

.submenu{
display:none;
background:#214f58;
}

.submenu li{
padding-left:30px;
font-size:14px;
}

/* pantalla principal */

.contenido{
flex:1;
display:flex;
align-items:center;
justify-content:center;
color:white;
font-size:60px;
}

/* RESPONSIVE */

@media (max-width:768px){

.menu-btn{
display:block;
}

.sidebar{
position:fixed;
left:-220px;
top:70px;
height:100%;
}

.sidebar.active{
left:0;
}

.container{
flex-direction:column;
}

.contenido{
font-size:40px;
}

}